<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<main>
    <!-- Hero section -->
    <div id='hero-section' class="hero-bg pt-30"></div>

    <!-- Icons section -->
    <div id='icons'></div>

    <!-- Info section -->
    <div id="featured"></div>

    <!-- Trending Products -->
     <div id="trending"></div>

     <div class="ads-img max-w-6xl mx-auto h-25 mt-30
     flex justify-center items-center">
        <span class="px-10 py-5 border border-white
        font-3xl font-bold">
            FREE DELIVERY WHEN YOU SPEND OVER $60
        </span>
     </div>

    <!-- Services -->
    <div id="service"></div>

    <!-- Testemonials -->
    <div id="testemonials"></div>

    <!-- news -->
    <div id="news"></div>
     
</main>
</html>