<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="max-w-7xl mx-auto pt-30">
    <ul class="grid lg:grid-cols-3 md:grid-cols-3 grid-cols-2 gap-5 px-5">

        <li class="bg-[var(--Creme-baige)] h-55 overflow-hidden 
        relative p-5 flex items-center flex-wrap">
            <div class="w-28 text-center lg:text-start">
                <p class="mb-2 text-gray-500">Food Taste</p>
                <h1 class="font-semibold">Fresh bread bakery shop</h1>
                <button class="mt-5 text-xs text-[var(--Creme-pink)]">SHOP NOW ></button>
            </div>
            <!-- image -->
            <div class="hidden lg:block bread-img absolute z-10 hero-bg w-55 h-60 rounded-l-full
            translate-x-30"></div>
        </li>


        <li class="bg-[var(--Creme-baige)] h-55 overflow-hidden relative p-5 
        flex items-center">
            <div class="w-28">
                <p class="mb-2 text-gray-500">Only today</p>
                <h1 class="font-semibold">100% fresh & hand made</h1>
                <button class="mt-5 text-xs text-[var(--Creme-pink)]">SHOP NOW ></button>
            </div>
            <!-- image -->
            <div class="hidden lg:block bread-imgOne absolute z-10 hero-bg w-55 h-60 rounded-l-full
            translate-x-30"></div>
        </li>



        <li class="bg-[var(--Creme-baige)] h-55 overflow-hidden relative p-5 
        flex items-center">
            <div class="w-28">
                <p class="mb-2 text-gray-500">Premium Quality</p>
                <h1 class="font-semibold">Bread & sweet bakery shop</h1>
                <button class="mt-5 text-xs text-[var(--Creme-pink)]">SHOP NOW ></button>
            </div>
            <!-- image -->
            <div class="hidden lg:block donut-img absolute z-10 hero-bg w-55 h-60 rounded-l-full
            translate-x-30"></div>
        </li>

        <div class="block lg:hidden bread-img hero-bg"></div>


    </ul>
</div>
</html>