<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<div class="max-w-6xl mx-auto pt-25">
    <ul class="grid grid-cols-5 gap-5 lg:gap-10 px-5 lg:px-0">
        <li class="p-5 bg-gray-200 flex flex-col items-center justify-center gap-4">
            <img src="images/icons/donut.png" alt="Donut">
            <p class="text-xs sm:text-base">Donut</p>
        </li>

        <li class="p-5 bg-gray-200 flex flex-col items-center justify-center gap-4">
            <img src="images/icons/pie.png" alt="Pie">
            <p class="text-xs sm:text-base">Pie</p>
        </li>

        <li class="p-5 bg-gray-200 flex flex-col items-center justify-center gap-4">
            <img src="images/icons/sandwitch.png" alt="Sandwitch">
            <p class="text-xs sm:text-base">Sandwitch</p>
        </li>

        <li class="p-5 bg-gray-200 flex flex-col items-center justify-center gap-4">
            <img src="images/icons/bread.png" alt="Bread">
            <p class="text-xs sm:text-base">Bread</p>
        </li>

        <li class="p-5 bg-gray-200 flex flex-col items-center justify-center gap-4">
            <img src="images/icons/cake.png" alt="Cake">
            <p class="text-xs sm:text-base">Cake</p>
        </li>

    </ul>
</div>
</html>