<!DOCTYPE html>
<html lang="en">
<body>
    <div class="max-w-6xl mx-auto mt-20">
        <div class="grid lg:grid-cols-4 grid-cols-2 gap-5 px-5 lg:px-0">

            <div class="px-5 py-5 shadow-md shadow-lg">
                <div class="flex gap-2">
                    <div class="flex items-center">
                        <img src="images/icons/ship.png" alst="Shipping">
                    </div>
                    <div class="flex flex-col">
                        <h1 class="font-semibold">Free delivery</h1>
                        <p class="text-xs text-gray-700">Free Shipping for orders over $50</p>
                    </div>
                </div>
            </div>

            <div class="px-5 py-5 shadow-md shadow-lg">
                <div class="flex gap-2">
                    <div class="flex items-center">
                        <img src="images/icons/dollar.png" alst="Shipping">
                    </div>
                    <div class="flex flex-col">
                        <h1 class="font-semibold">Return & Refund</h1>
                        <p class="text-xs text-gray-700">Free Shipping for orders over $50</p>
                    </div>
                </div>
            </div>

            <div class="px-5 py-5 shadow-md shadow-lg">
                <div class="flex gap-2">
                    <div class="flex items-center">
                        <img src="images/icons/earphone.png" alst="Shipping">
                    </div>
                    <div class="flex flex-col">
                        <h1 class="font-semibold">Quality support</h1>
                        <p class="text-xs text-gray-700">Free Shipping for orders over $50</p>
                    </div>
                </div>
            </div>

            <div class="px-5 py-5 shadow-md shadow-lg">
                <div class="flex gap-2">
                    <div class="flex items-center">
                        <img src="images/icons/news.png" alst="Shipping">
                    </div>
                    <div class="flex flex-col">
                        <h1 class="font-semibold">Join Newspaper</h1>
                        <p class="text-xs text-gray-700">Free Shipping for orders over $50</p>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</body>
</html>