<!DOCTYPE html>
<html lang="en">
<body>
    <div class="max-w-6xl mx-auto mt-20">
        <div class="flex flex-col justify-center items-center py-20">
            <h1 class="text-3xl font-bold">Get the latest deal</h1>
            <p class="pt-3 text-gray-700">"Your inbox, your savings. Get the sweetest deals now!"</p>
            <div class="flex mt-10">
                <input 
                class="w-50 lg:w-100 h-10 bg-white outline-none focus:outline-none px-5"
                type="text"
                >
                <button class="h-10 px-5 bg-[var(--Creme-pink)] text-white">
                    Subscribe
                </button>
            </div>
        </div>
    </div>
</body>
</html>