<!DOCTYPE html>
<html lang="en">
<body>
    <div class="bg-[var(--Creme-baige)] mt-20">
        <div class="max-w-7xl mx-auto py-20 px-10">
            <div class="flex justify-center">
                <h1 class="text-3xl font-bold">Testemonials</h1>
            </div>


            <div class="flex relative">


                <ul class="grid lg:grid-cols-2 grid-cols-1 gap-20 mt-5">

                    <li class="flex flex-col justify-center text-center h-90 items-center">
                        <div class="rounded-full border-2 border-dashed border-[var(--Creme-pink)] p-2">
                            <div class="rounded-full bg-[var(--Creme-pink)] mx-auto">
                                <img src="images/icons/quote.png" alt="customer say">
                            </div>
                        </div>
                        
                        <h1 class="font-semibold text-xl my-5">"Customer Support"</h1>
                        <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            In asperiores tenetur eaque modi harum ducimus aspernatur, 
                            voluptatibus odio accusantium doloremque placeat libero
                                laudantium, molestias, fuga vero sapiente officiis quo 
                                hic.
                        </p>
                        <h2 class="font-semibold text-lg mt-5">Richard</h2>
                        <span>⭐⭐⭐⭐⭐</span>
                    </li>

                    <li class="flex flex-col justify-center text-center h-90 items-center">
                        <div class="rounded-full border-2 border-dashed border-[var(--Creme-pink)] p-2">
                            <div class="rounded-full bg-[var(--Creme-pink)] mx-auto">
                                <img src="images/icons/quote.png" alt="customer say">
                            </div>
                        </div>
                        
                        <h1 class="font-semibold text-xl my-5">"Customer Support"</h1>
                        <p class="text-gray-700">Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                            In asperiores tenetur eaque modi harum ducimus aspernatur, 
                            voluptatibus odio accusantium doloremque placeat libero
                                laudantium, molestias, fuga vero sapiente officiis quo 
                                hic.
                        </p>
                        <h2 class="font-semibold text-lg mt-5">Richard</h2>
                        <span>⭐⭐⭐⭐⭐</span>
                    </li>
                </ul>

                <!-- <div class="lg:flex hidden justify-center mr-5 absolute 
                translate-x-25 right-0 translate-y-35">
                    <span class="p-2 bg-[var(--Creme-pink)]"> 
                        <img src="images/icons/right.png" alt="right">
                    </span>
                </div> -->
            </div>


            <div class="flex justify-center space-x-3 mt-20">

                <div class="flex justify-center mr-5 -translate-y-4">
                    <span class="p-2 bg-[var(--Creme-pink)]"> 
                    <img src="images/icons/left.png" alt="right">
                    </span>
                </div>

                <span class="rounded-full w-2 h-2 bg-gray-400"></span>
                <span class="rounded-full w-2 h-2 bg-gray-400"></span>
                <span class="rounded-full w-2 h-2 bg-gray-600"></span>
                <span class="rounded-full w-2 h-2 bg-gray-400"></span>
                <span class="rounded-full w-2 h-2 bg-gray-400"></span>

                <div class="flex justify-center mr-5 -translate-y-4">
                    <span class="p-2 bg-[var(--Creme-pink)]"> 
                    <img src="images/icons/right.png" alt="right">
                    </span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>