<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <div class="max-w-7xl mx-auto pt-20">
        <div class="flex justify-center">
            <h1 class='text-3xl font-semibold py-10'>Trending Products</h1>
        </div>

        <div class="flex relative">

            <div class="lg:flex hidden justify-center mr-5 absolute 
            translate-x-2 left-0 translate-y-35">
                <span class="p-2 bg-[var(--Creme-pink)]"> 
                    <img src="images/icons/left.png" alt="left">
                </span>
            </div>

            <!-- script.js -->
            <div id="trends"class='flex justify-center'></div>

            <div class="lg:flex hidden justify-center ml-5 absolute
            -translate-x-2 right-0 translate-y-35">
                <span class="p-2 bg-[var(--Creme-pink)]"> 
                <img src="images/icons/right.png" alt="right">
                </span>
            </div>
        </div>

        <div class="lg:hidden md:flex flex justify-center space-x-2 mt-10">
            <div class="flex justify-center mr-5 -translate-y-4">
                <span class="p-2 bg-[var(--Creme-pink)]"> 
                <img src="images/icons/left.png" alt="right">
                </span>
            </div>

            <span class="w-2 h-2 rounded-full bg-gray-300"></span>
            <span class="w-2 h-2 rounded-full bg-gray-300"></span>
            <span class="w-2 h-2 rounded-full bg-gray-600"></span>
            <span class="w-2 h-2 rounded-full bg-gray-300"></span>
            <span class="w-2 h-2 rounded-full bg-gray-300"></span>

            <div class="flex justify-center ml-5 -translate-y-4">
                <span class="p-2 bg-[var(--Creme-pink)]"> 
                <img src="images/icons/right.png" alt="right">
                </span>
            </div>
        </div>


    </div>
</html>